<!DOCTYPE html>

<html>
    <style type="text/css">

        .margin {margin-bottom: 10px;}
        .bg-1 { 
            background-color: #1abc9c; /* Green */
            color: #ffffff;
        }
        .bg-2 { 
            background-color: #005bef; /* Dark Blue */
            color: #ffffff;
        }
        .bg-3 { 
            background-color: #474e5d; 
            color: #ffffff;
            /*background-image: url(images/kl.png);*/
        }
        .bg-4 { 
            background-color: #4e5b49; /* Black Gray */
            color: #fff;
        }
        .bg-5 { 
            background-color: #f48c42; /* Black Gray */
            color: #fff;
        }
        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        .navbar {
            padding-top: 5px;
            padding-bottom: 5px;
            border: 0;
            position: fixed;
            top: 0;
            width: 100%;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }
        .navbar-nav  li a:hover {
            color: #1abc9c !important;
        }
    </style>
    <title>Aswanth | Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/bootstrap"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/ng/Controllers.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5019379230134735",
    enable_page_level_ads: true
  });
</script>
    <body>
        <div data-ng-app="website" data-ng-controller="GlobalController">
            <!-- Navbar -->
            <nav class="navbar navbar-default " style="position: fixed " >
                <div class="container">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button> 
                        <span ng-click="tab1()">
                            <img src="images/propic.png" class="img-responsive img-circle margin" style="display:inline;padding: 0px;margin: 0px" alt="Profile Picture" width="50" height="50">
                        </span>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <span class="nav navbar-nav navbar-right">
                            <span style="padding: 5px;cursor: pointer" ng-click="tab2()"><b>Projects</b></span>
                            <span style="padding: 5px;cursor: pointer" ng-click="tab3()"><b>Internship</b></span>
                            <span style="padding: 5px;cursor: pointer" ng-click="tab4()"><b>Resume</b></span>
                        </span>
                    </div>
                </div>
            </nav>
            <!-- First Container -->
            <div id=home class="container-fluid bg-1 ">
                <h3>Hie Geeks....</h3>
                <div><h4>
                        I have a website because it's an interesting tool,very - and quite unexpectedly - useful for my work.
                        It's become an archive and is a fairly complete on-line portfolio, as well as an opportunity to write a
                        little :)
                    </h4> </div>
            </div>
            <!-- Second Container -->
            <div   id=projects class="container-fluid bg-2 ">    
                <div class="margin" style="text-align: center;"><h2>PROJECTS</h2></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div>
                            <h3 style="text-align: center"><b>Car Simulator</b></h3>
                        </div>
                        <div>
                            Duration:Oct-2016 to Nov-2016 <br>
                            <div style="text-align: left">
                                I made a python interface in which it can read serial input that coming from Arduino. 
                                According to that input my python script will generate some virtual key presses which is independent of platform.
                            </div>
                            Source code(GitHub): <a style="color: whitesmoke" href="https://github.com/aswanthpp/Car-Simulator-.git">Here</a>
                        </div>

                    </div>
                    <div class="col-sm-6"> 
                        <div>
                            <h3 style="text-align: center"><b>Personal Website</b></h3>
                        </div>
                        <div>
                            Duration:Jan-2017 to Ongoing <br>
                            <div style="text-align: left"> To Explore More in Web Development and 
                                also to showcase my work in an interactive way .
                            </div>
                            <br>Website URL  : <a style="color: whitesmoke" href="https://aswanthpp.github.io/">https://aswanthpp.github.io</a>
                            <br>
                            Source code(GitHub): <a style="color: whitesmoke" href="https://github.com/aswanthpp/aswanthpp.github.io.git">Here</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Third Container (Grid) -->
            <div id=internship class="container-fluid bg-3" style="">
                <div class="margin" style="text-align: center;"><h2>INTERNSHIP/TRAINING</h2></div>
                <div class="col-sm-12">
                    <div style="padding-bottom: 10px">
                        
                        <span style="font-size: 150%;"> KingsLabs Technologies ,Kochi Kerala</span>
                        <span style="float: right">May-2017 to July-2017</span>
                    </div>
                    <div  style="padding:10px">
                        <div  class="col-sm-6">
                            <h4>Tracking and Expense Management Module</h4>
                            GPS Tracking and Expense Management for that particular journey 
                            <br>Languages : PHP,AngularJS,html <br>Database : MySql
                        </div>
                        <div  class="col-sm-6">
                            <h4> Push Notification Module</h4>
                            Developed Android and Web Interface for Sending Push Notification to Particular Android Device
                            <br>Simulator : Android Studio
                        </div>



                    </div>
                </div>
            </div>

            <!-- Fourth Container (Grid) -->
            <div id=resume class="container-fluid bg-4 " style="padding-top: 10px !important">
                <div class="margin" style="text-align: center;padding-bottom: 5px;"><h2>ABOUT ME</h2></div>
                <div class="col-sm-6" style="font-size: 120%;text-align: center;font-stretch: extra-expanded">
                    <div>Aswanth P P</div>
                    <div>B.Tech in CSE</div>
                    <div>NITK Surathkal</div>
                    <div>ppaswanth3[at]gmail.com</div>
                    <div>9562978698</div>
                </div>
                <div  class=" col-sm-6">
                    <div class="col-sm-12">
                        <span style="padding:10px"> <a href="pdf/Resume_ASWANTH.pdf"> <img src="images/resume.png" class="img-responsive img-circle margin" style="display:inline" alt="resume" width="80" height="80"></a></span>
                        <span style="padding:10px"> <a href="https://www.quora.com/profile/Aswanth-Parakkettu"><img src="images/quora.png" class="img-responsive img-circle margin" style="display:inline" alt="quora" width="80" height="80"></a></span>
                        <span style="padding:10px"> <a href="https://github.com/aswanthpp"> <img src="images/github.png" class="img-responsive img-circle margin" style="display:inline" alt="github" width="80" height="80"></a></span>
                        <span style="padding:10px">  <a href="https://www.linkedin.com/in/aswanth-p-p-802890122"><img src="images/linkedin.png" class="img-responsive img-circle margin" style="display:inline" alt="facebook" width="80" height="80"></a></span>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class=" bg-5 text-center">
                &copy2017 ppSoft
            </footer>
        </div>
    </body>
</html>

