<div ng-include=" 'views/sideBar.html'"></div>

<div>
     <div style="padding:5px; background-image: url(./images/homeMain.jpg);background-size: cover;background-attachment: fixed">
                   
                    <div  style="margin:200px;font-size: 500%;color: white">
                            Work..<br>
                            Create..<br>
                            Believe It..<br>
                    </div>
                        
                          
                </div>
</div>

