<!-- Second Container -->
<style>
    body{
     background-color: white;
/*     background-image: url("https://previews.123rf.com/images/elenathewise/elenathewise1409/elenathewise140900023/31556569-Old-wooden-background-of-weathered-distressed-rustic-wood-with-faded-light-blue-paint-showing-woodgr-Stock-Photo.jpg");*/
    }
</style>
<div style="padding: 8px; background-color: blue;border: 1px solid #aaa;margin-bottom: 1px;height:100px;">
    <div class="margin" style="text-align: center;color: whitesmoke"><h2>PROJECTS</h2></div>

<!--<div ng-include=" 'views/sideBar.html'"></div>-->
</div>

<div   id=projects ng-model="projects" style="padding-top: 40px;padding-bottom: 40px;">    
   
    <div class="row" style="margin-left: 100px;margin-right: 100px;margin-top: 20px;">
        <div class="col-lg-12" style="background-color: #80cbc4;padding:10px;margin: 10px;">
        <div class="col-sm-6">
            <div>
                <h3 style="text-align: center"><b>Car Simulator</b></h3>
            </div>
            <div>
                Duration:Oct-2016 to Nov-2016 <br>
                <div style="text-align: left;font-family: cursive">
                    I made a python interface in which it can read serial input that coming from Arduino. 
                    According to that input my python script will generate some virtual key presses which is independent of platform.
                </div>
                Source code(GitHub): <a style="color: #111" href="https://github.com/aswanthpp/Car-Simulator-.git">Here</a>
            </div>

        </div>
            <div class="col-sm-6" style="padding:5px;">
                <img src="./images/carsim.jpg" alt="carSimulator" style="height: 80%;width: 60%;margin-left: 100px;">
                
            </div>
        </div>
        <div class="col-lg-12" style="background-color: #80cbc4;margin: 10px;">
        <div class="col-sm-6"> 
            <div>
                <h3 style="text-align: center"><b>Personal Website</b></h3>
            </div>
            <div>
                Duration:Jan-2017 to Ongoing <br>
                <div style="text-align: left ;font-family: cursive"> To Explore More in Web Development and 
                    also to showcase my work in an interactive way .Technologies used are HTML,CSS and AngularJS
                </div>
                <br>Website URL  : <a style="color: #111" href="https://aswanthpp.github.io/">https://aswanthpp.github.io</a>
                <br>
                Source code(GitHub): <a style="color: #111" href="https://github.com/aswanthpp/aswanthpp.github.io.git">Here</a>
            </div>
        </div>
             <div class="col-sm-6" style="padding:5px;">
                <img src="./images/website.png" alt="website" style="height: 80%;width: 60%;margin-left: 100px;">
                
            </div>
    </div>
</div>

