 <div id="mySidenav" class="sidenav"ng-mouseleave="closeNav()">
        <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()" >&times;</a>
        <img ng-click="tab1()" src="images/propic.JPG" class="img-responsive img-circle margin" style="padding: 10px;margin-left: 15px;border-top: 2px;border-top-color: whitesmoke" alt="Profile Picture" width="100" height="100">
        <div style="padding:5px;margin-bottom: 10px; ">
            
            
            <div style="margin-left: 40px;" > Aswanth P P </div>
                    <img src="./images/graduate.png">  
                    B.Tech in CSE <br>
                    <div style="margin-left: 40px;" >     NIT Karnataka</div>
              
            
        </div>
        <a class="w3-button w3-hover-blue" ng-click="tab2()" >Project</a>
        <a class="w3-button w3-hover-blue" ng-click="tab3()">Internship</a>
        <!--<a class="w3-button w3-hover-blue" ng-click="tab4()">Compete </a>-->
         <a class="w3-button w3-hover-blue" ng-click="tab5()">Resume</a>
         <!--<a class="w3-button w3-hover-blue" ng-click="tab6()">Contact</a>-->
        

    </div>
    <span style="font-size:30px;cursor:pointer; float: left;position: fixed ;color: white;margin: 10px;" ng-mouseover="openNav()">&#9776;</span>