<style>
    body{
        background-color: white;
        /*background-image: url("https://previews.123rf.com/images/elenathewise/elenathewise1409/elenathewise140900023/31556569-Old-wooden-background-of-weathered-distressed-rustic-wood-with-faded-light-blue-paint-showing-woodgr-Stock-Photo.jpg");*/
    }
    .colour{
        background-color: #b5e0de;
        padding: 15px;
        margin-bottom: 15px;
    }
</style>
<div style="padding: 8px; background-color: blue;border: 1px solid #aaa;margin-bottom: 1px;height:100px;">
    <div class="margin" style="text-align: center;color: whitesmoke"><h2>INTERNSHIP/TRAINING</h2></div>


    <!--<div ng-include=" 'views/sideBar.html'"></div>-->
</div>

<!--<div ng-include=" 'views/sideBar.html'"></div>-->
<div id=internship  ng-model="internship" style=" background-color: #b5e0de">
        <div style="font-size: 150%;text-align: center;">KingsLabs Technologies ,Kochi Kerala</div>
    <div class="col-sm-12 colour" >
        <div  style="padding:10px">
            <div  class="col-sm-6">
                <h4>Tracking and Expense Management Module</h4>
                GPS Tracking and Expense Management for that particular journey 
                <br>Languages : PHP,AngularJS,html <br>Database : MySql
            </div>
            <div  class="col-sm-6">
                <h4> Push Notification Module</h4>
                Developed Android and Web Interface for Sending Push Notification to Particular Android Device
                <br>Simulator : Android Studio
            </div>
        </div>
    </div>
        <div class="col-sm-4">
            
        </div>
        <div class="col-sm-4">
            <img src="./images/kingslabs.png" style="height: 50%;width: 50%"ng-click="kingsLabs()">
        </div>
        
        
</div>